.comment_section{
    font-weight: bolder;
    font-size: larger;
    margin-left: 5%;
}
.input_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.your_name{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.your_comment{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.form {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
  }
  
  form div {
    width: 45%;
  }
  
  .form input {
    padding: 5px;
    width: 100%;
  }
  .comment_btn{
      width: 6%;
      height: 30px;
      background-color: white;
      border: 1px solid black;
      margin-left: 1130px;
      margin-top: 2%;
  }
  .cancel_btn{
    width: 6%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin-left: 1%;
    margin-top: 2%;
}
