
.video_show{
    height: 200px;
}
.main_container{
    display: flex;
    flex-direction: row;
}
.frame {
    width: 900px;
    height: 500px;
    margin-left: 4%;
    margin-top: 4.5%;
}
.title{
    color: black;
    margin-left: 4%;
    font-weight: bolder;
}
.channel_name{
    color: grey;
    margin-left: 4%;
    font-weight: bolder;
}
#redheart{
    color: red;
    font-size: 25px;
  
}
#heart{
    font-size: 25px;
    margin-left: 98%;
    cursor: pointer;
}
.section_show{
    margin-left: 15%;
    margin-top: 10%;
    display: flex;
}
.small_videos{
    width: 200px;
    height: 100px;
}
.video_list{
    margin-left: 2%;
}
.side_title{
    color: black;
    font-weight: bold; 
}
.side_channel{
    color: grey;
    font-weight: bolder;
}
